.pet {
	height: 250px;
  width: 250px;
	display: flex;
	border: 1px solid black;
	margin: 15px;

	.background-image {
    height: 100%;
		width: 100%;
		background-position: center;
		background-size: cover;
	}
  
	.name {
    font-weight: bold;
		font-size: 22px;
		color: #4a4a4a;
    position: absolute;
		align-self: flex-start;
	}

	.follow-banner {
		border: none;
		width: 248px;
		height: 50px;
		font-size: 15px;
		font-weight: bolder;
		position: absolute;
		opacity: 0.85;
		display: none;
		align-self: center;
		justify-content: center;
		align-items: center;
	}

  &:hover {
    cursor: pointer;

    & .follow-banner {
			display: flex;
    }
  }
}
