body {
  font-family: 'Poppins', sans-serif;
  padding: 20px 55px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 15px;
}

h2 {
  margin: 15px;
}

form {
  margin: 15px;
}

button, input[type=submit] {
  &:hover {
    background-color: white;
    color: black;
  }
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 15px;
  text-transform: uppercase;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}